*{
    padding: 0;
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
body{
    width: 1140px;
    margin: 0 auto;
}
.dark-2{
    color: #474747;
}
.secondary-bg{
    background-color: #FFF8F3;
}

header{
    background-image: url(developer.png),url(header_bg.png);
    background-repeat: no-repeat;
    background-position: top left, bottom right;

}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 15px 150px;
}
.nav-title{
    font-weight: 800;
    font-size: 45px;
    width: 121px;
    height: 51px;
    margin-left: 51px;
    padding: 5px;
}
.nav-title span{
    color: #FD6E0A;
}
nav ul{
    display: flex;
    align-items: center;
}
nav ul li{
    list-style: none;
    margin-right: 51px;
}
nav li a{
    text-decoration: none;
    font-size: 20px;
}
.btn-primary{
    background-color: #FD6E0A;
    font-weight: bold;
    font-size: 20;
    color: white;
    padding: 18px 35px ;
    border-radius: 5px;
    border: none;
}
.banner{
    display: flex;
    justify-content: space-between;
    margin: 0 30px 0 210px;
}
.banner-content{
    max-width: auto;
}

.banner-greetings{
    font-size: 45px;
    font-weight: 600;
    margin-top: 80px;
}
.banner-description{
    font-size: 100;
    font-weight: 550;
    margin: 20px 0;
}
.banner-title{
    font-weight: bold;
    font-size: 85px;
    margin: 40px 0;

}
.banner-profile-pic{
    width: 580px;
}

.section-title{
    font-size: 35px;
    font-weight: bold;
    color: #181818;
    padding: 10px;
}
.section-description{
    width: 909px;
    height: 90px;
    font-size: 18px;
    color: #757575;
    padding: 5px;
}
.about{
    border-radius: 10px;
    padding: 130px 150px;
    margin-top: 130px;
    text-align: center;
}
.about-items{
    display: flex;
    justify-content: space-around;
}
.text-center{
    text-align: center;
}
.skills-container{
    margin-top: 80px;
    padding: 50px 90px;
    border-radius: 10px;
}
.skills{
    display: flex;
    justify-content: space-around;
    margin: 55px 0px;
    padding: 5px;
}
.skill{
    margin: 10px;
    padding: 15px;
    border: none;
    box-shadow: 2px 3px 8px #c6c0c0;
    border-radius: 5px;
}
.skill-sect{
    margin-top: 5px;
    padding: 3px;
}
.skill-description{
    font-size: 16px;
    color: #757575;
}
.Acdemic-Experience{
    margin-top: 80px;
    padding: 50px 90px;
    border-radius: 10px;
}
.Ac-Ex{
    display: flex;
    margin: 15px;
    padding: 10px;
    justify-content: space-around;
    gap: 50px;
}
.resume-academic{
    padding: 10px ;
}
.resume-title{
    font-size: 35px;
    font-weight: bold;
    color: #181818;
}
.academic{
    border-bottom: 1px rgb(78, 74, 74) solid;
    margin: 15px 0;
    padding: 10px 10px 10px 0;
}
.academic h4{
    font-size: 25px;
    font-weight: bold;
    color: #191717;
}
.academic h5{
    font-size: 15px;
    font-weight: bold;
    color: #3f3d3d;
    padding: 15px 0;
}
.academic p{
    font-size: 12px;
    color: #757575;
}
